<%= form_with(model: debtor, local: true) do |form| %>
  <% if debtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(debtor.errors.count, "error") %> prohibited this debtor from being saved:</h2>

      <ul>
      <% debtor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :debtor_name %>
  </div>

  <div class="field">
    <%= form.label :village %>
    <%= form.text_field :village, id: :debtor_village %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :debtor_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
