<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @debtor.name %>
</p>

<p>
  <strong>Village:</strong>
  <%= @debtor.village %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @debtor.phone %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @debtor.is_active %>
</p>

<%= link_to 'Edit', edit_debtor_path(@debtor) %> |
<%= link_to 'Back', debtors_path %>
