<%= form_for @purchase do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seller_name %>
    <%= form.text_field :seller_name, id: :purchase_seller_name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :purchase_city %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :purchase_phone %>
  </div>

  <div class="field">
    <%= form.label :invoice_number %>
    <%= form.number_field :invoice_number, id: :purchase_invoice_number %>
  </div>

  <!--TODO add option to add another purchase-item-->
  <%= form.fields_for :purchase_items do |f| %>
    <div id="purchase_item">
      <hr>
      <h3>Add a purchase item</h3>
      <div class="field">
        <%= f.label :article_id %>
        <%= f.collection_select :article_id, @articles, :id, :name, prompt: true %>
      </div>
      <div class="field" style="display: none">
        <%= f.label :purchase_id %>
        <%= f.text_field :purchase_id, id: :purchase_item_purchase_id %>
      </div>
      <div class="field">
        <%= f.label :price %>
        <%= f.text_field :price, id: :purchase_item_price, :onChange=> "calculate_cost()" %>
      </div>
      <div class="field">
        <%= f.label :quantity %>
        <%= f.text_field :quantity, id: :purchase_item_quantity, :onChange=> "calculate_cost()" %>
      </div>
      <div class="field">
        <%= f.label :cost %>
        <%= f.text_field :cost, id: :purchase_item_cost, :class=> "form-control", :readonly=> true %>
      </div>
      <br>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total_cost %>
    <%= form.text_field :total_cost, id: :purchase_total_cost_field, :class=> "form-control", :readonly=> true  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
