<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Seller name</th>
      <th>City</th>
      <th>Phone</th>
      <th>Invoice number</th>
      <th>Total cost</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.seller_name %></td>
        <td><%= purchase.city %></td>
        <td><%= purchase.phone %></td>
        <td><%= purchase.invoice_number %></td>
        <td><%= purchase.total_cost %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
