<p id="notice"><%= notice %></p>

<p>
  <strong>Seller name:</strong>
  <%= @purchase.seller_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @purchase.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @purchase.phone %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @purchase.invoice_number %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @purchase.total_cost %>
</p>

<%= link_to 'Back', purchases_path %>

<br/>
<hr>

<h2>Items:</h2>

<div id="purchase_items">
  <table id="purchase_items_table">
    <tr>
      <th>Article</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Cost</th>
    </tr>
    <%= render @purchase.purchase_items, :onChange=>"set_total_cost"%>
  </table>
</div>

<br/>

