<p id="notice"><%= notice %></p>

<p>
  <strong>Nature:</strong>
  <%= @deposit.nature %>
</p>

<p>
  <strong>Debtor:</strong>
  <%= @deposit.debtor.name + ' - ' + @deposit.debtor.village %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.amount %>
</p>


<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
